[Unit]
Description=RoonBridge-Remote
Wants=network-online.target
After=roonbridge.service
After=triggerhappy.service
OnFailure=status-email-user@%i.service

[Service]
Type=simple
User=root
ExecStart=node ~/roonbridge/extensions/roon-extension-roonbridge-remote/.
StandardOutput=journal+console
SyslogIdentifier=roonbridge-remote
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target